<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Student </title>

</head>

<body>


   <form method="POST" action="/add-student-api">

    <input type="text" name="FirstName" placeholder="enter student name" />
    <br /><br />

    <input type="text" name="LastName" placeholder="enter student email" />
    <br /><br />

    <input type="text" name="age" placeholder="enter student age" />
    <br /><br />

    <button type="submit">Add new Student</button>

</form>

</body>

</html>